@import "tailwindcss/theme";
@import "tailwindcss/utilities";

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', Arial,
    'Noto Sans', sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol',
    'Noto Color Emoji';
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

img {
  max-width: 100%;
  height: auto;
}

/* Khi Sider thu nhỏ (ant-layout-sider-collapsed), ẩn các chữ trong menu */
.ant-layout-sider-collapsed .ant-menu-item .ant-menu-title-content {
  display: none;
  opacity: 0;
}

/* Tùy chỉnh thanh cuộn cho Sidebar đẹp hơn */
.ant-layout-sider-children::-webkit-scrollbar {
  width: 5px;
}

.ant-layout-sider-children::-webkit-scrollbar-thumb {
  background-color: #e5e7eb;
  border-radius: 10px;
}

.custom-scrollbar::-webkit-scrollbar {
  width: 6px;
}

.custom-scrollbar::-webkit-scrollbar-track {
  background: #f1f1f1;
}

.custom-scrollbar::-webkit-scrollbar-thumb {
  background: #c1c1c1;
  border-radius: 4px;
}

.custom-scrollbar::-webkit-scrollbar-thumb:hover {
  background: #a8a8a8;
}